@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*Journey page guide text editor Styles */
  .wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color: lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }

  /* My Profile Page Recent Annotations Section styles */
  .recent-slider .slick-slider .slick-list {
    /* overflow: visible !important; */
  }

  .recent-slider .slick-list .slick-slide {
    margin: 0 -9px !important;
  }

  /* My Profile Page Recent Journey Section styles  */
  .recent-journey-slider > .slick-slider > .slick-list > .slick-track {
    display: flex;
  }

  .recent-journey-slider
    > .slick-slider
    > .slick-list
    > .slick-track
    > .slick-slide.slick-active {
    /* margin: 0 -0.5px !important; */
    margin-left: 6px;
  }

  .recent-journey-slider
    > .slick-slider
    > .slick-list
    > .slick-track
    > .slick-slide.slick-current {
    margin-left: 0px;
  }

  /* Journey card slider styles inside recent journey slider */
  .recent-journey-card-slider .slick-list .slick-track {
    display: flex;
  }

  .recent-journey-card-slider .slick-list .slick-slide {
    margin: 0 -4px !important;
  }

  .recent-journey-card-slider .slick-list .slick-slide > div > div {
    display: flex !important;
    width: 53px !important;
  }

  /*Progess line for custom journey video uploader styles */
  /* .rcb svg {
    transform: scale(-0.7) !important;
  } */
}
